<h4>Welcome to the Admin page. Here are some database statistics: </h4>
<p>Products in the database: <%= @product_count %></p>
<p>Categories in the database: <%= @category_count %></p>

<a href="/admin/products">Go to the product management page</a>