<h4>Welcome to the Admin page. Here are some database statistics: </h4>
<p>Products in the database: <%= @product_count %></p>
<p>Categories in the database: <%= @category_count %></p>

<p><%= link_to 'Manage Products', [:admin, :products] %></p>
<p><%= link_to 'Manage Categories', [:admin, :categories] %></p>
