// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "orders";
@import "signup";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

#navbar {
  li {
    display: flex;
    align-content: center;
    
    p {
      padding-top: 1em;
    }
  }
}